@use 'sass:math';

$color-primary: #222;
$color-primary-rgb: rgb(34, 34, 34);
$color-link: #222;
$color-white: #fff;
$color-white-rgb: 255, 255, 255;
$color-orange: #FA5D29;
$color-errors: #FA5D29;
$color-featured: #f8f0ee;
$color-underlined: $color-primary-rgb;
$color-connect: #FF602C;
$color-connect-2: #FFAE94;
$color-connect-3: #FFC5B1;
$color-inspire: #AAEEC4;
$color-inspire-2: #C8E4D3;
$color-inspire-3: #E2F4E9;
$color-awards: #502bd8;
$color-awards-2: #6749d1;
$color-awards-3: #917eda;
$color-read: #c0ab3c;
$color-read-2: #CDC38B;
$color-read-3: #DBD6C0;
$color-learn: #FFF083;
$color-learn-2: #FFF9D0;
$color-learn-3: #fffbe2;
$color-jobs: #74bcff;
$color-jobs-2: #99ccfc;
$color-jobs-3: #b4d7f8;
$text-size-small: 12px;
$text-size-primary: 16px;
$text-size-medium: 18px;
$text-size-large: 24px;
$border-gray: #e9e9e9;
$bg-primary: #F8F8F8;
$bg-primary-rgb: 248, 248, 248;
$bg-secondary: #222;
$bg-3rd: #e9e9e9;
$bg-white: white;
$header-height: 71px;
$gutter: 20px;
$pad-inner: 52px;
$color-odd-rows: #f3f3f3;
$avatar-bg: $bg-primary;
$rounded-small: 4px;
$rounded-normal: 8px;
$rounded-large: 1rem;
$img-resizing-site: math.div(16 , 12);
$img-resizing-paronamic: math.div(2 , 1);
$img-resizing-desktop: math.div(19, 10);
$sf-height: 48px;
$search-results-fs: 0.75em;
$sf-bg: $bg-3rd;
$hf-bg: $bg-primary;
$menu-color-1: #fff083;
$button-rounded: 8px;
$button-rounded-full: 72px;
$button-height: 48px;
$button-pad: 24px;
$button-bg: $color-primary;
$button-color: $color-white;
$button-color-border: $bg-primary;
$color-hover: rgba(255,255,255, 0.1);
$grid-min: 18%;
$ch-bg: #dcd7d0;
$bg-box-figure: #313131;
$color-primary-rgb: #ce6644;
$color-primary-rgb: rgb(34, 34, 34);


